
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    background-color: palegoldenrod;
    padding: 1%;
    width: 15%;
}

nav{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    padding: 1%;
    gap: 1%;
    height: 100px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

